!out/**/*.map
**/*.map
**/*.ts
*.vsix
.vscode/**
.vscode-test/**
.vscode test/**
src/**
test/**

typings.json
typings/**
types/**

.editorconfig
.eslintrc
**/tsconfig*.json
**/tsfmt.json
**/tslint.json

.npmrc
.nvmrc
.nycrc
gulpfile.js
package-lock.json
webpack.config.js
.nvm/**
.nyc_output
node_modules/**
out/src/**
out/test/**
build/**
BuildOutput/**

.gitattributes
.gitignore
.gitmodules
.github/**
precommit.hook

.appveyor.yml
.travis.yml
travis*.log
coverconfig.json
debug_coverage*/**
coverage/**
out/coverconfig.json
.mocha-reporter/**
.devcontainer/**

requirements.txt
.venv/**
out/pythonFiles/**
pythonFiles/**/*.pyc
pythonFiles/**/*.dist-info/**
pythonFiles/**/*.egg-info/**
pythonFiles/tests/**

vsc-extension-quickstart.md
scripts/**
data/**
images/**/*.gif
images/**/*.png
tmp/**
bin/**
obj/**
